gamayun_kit5k_fra-swc.zip
.env
gamayun_kit5k-v1_FRA-LIN.zip
lilics/node_modules/
.ipynb_checkpoints/
synthesis_outputs/audio/
synthesis_outputs/manifest/
synthesis_outputs/text/
report.prompt.md
*.synctex.gz
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
